.aboutMe {
    overflow: hidden;
}

.organizer {
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.organizer > div {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    height: 45vh;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 0;
  }

.AboutMePara {
    overflow-y: scroll;
    background-color: oldlace;
    order: 0;
    position: relative;
    animation: bringInAboutMePara 2s 1;
}

@keyframes bringInAboutMePara {
    from {left: -50vw}
    to {left: 0vw}
    from {opacity: 0;}
    to {opacity: 1;}
}

.HobbiesAndInterests {
    overflow-y: scroll;
    position: relative;
    animation: bringInHAI 2s 1;
}

@keyframes bringInHAI {
    from {right: -50vw}
    to {right: 0vw}

    from {opacity: 0;}
    to {opacity: 1;}
}

.Education {
    overflow-y: scroll;
    background-color: oldlace;
    position: relative;
    animation: bringInEd 2s 1;
}

@keyframes bringInEd {
    from {left: 50vw}
    to {left: 0vw}
    from {opacity: 0;}
    to {opacity: 1;}
}

.ToolsAndTech {
    overflow-y: scroll;
    position: relative;
    animation: bringInTAT 2s 1;
}

@keyframes bringInTAT {
    from {opacity: 0;}
    to {opacity: 1;}
    
    from {right: 50vh;}
    to {right: 0vh}
}