.ProjectsPage {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
}

.Heading {
    font-size: 5vw;
    font-weight: 700;
    position: relative;
    top: 8%;
    width: fit-content;
    margin: auto auto;
    /* Everything heading animation related out for now */
    /* opacity: 0;
    animation: bringInHeading .001s 1;
    -webkit-animation: bringInHeading 2s 1;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; */
}

@keyframes bringInHeading {
    from {opacity: 0;}
    to {opacity: 1;}
}

.ProjectsContainer {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 12%;
    height: 75%;
    animation: bringInProjects 1s 1;
    opacity: 0;
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
}

@keyframes bringInProjects {
    from {opacity: 0;}
    to {opacity: 1;}
}

.WebsiteProject {
    width: 20%;
    height: 50%;
}

.ScrutinyProject {
    width: 40%;
    height: 100%;
    background-color: lightslategrey;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.ComingSoon {
    width: 20%;
    height: 50%;
}

.ScreenshotContainer {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 45%;
}

.ScreenshotsScrutiny {
    padding-left: 10px;
    height: 100%;
}

.HeadingScrutiny {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


@media (max-width: 768px) {
    .ProjectsPage {
        height: 200vh;
    }

    .Heading {
        font-size: 5vh;
        top: 5%;
        /* -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; */
    }

    @-webkit-keyframes bringInHeading {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .ProjectsContainer {
        top: 8%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .WebsiteProject {
        width: 90%;
        height: 50%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .ScrutinyProject {
        order: -1;
        width: 100%;
        height: 50%;
    }

    .ScreenshotContainer {
        height: 50%;
    }
    
    .ComingSoon {
        width: 90%;
        height: 50%;
        padding-left: 5%;
        padding-right: 5%;
    }
}