html {
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
}

.Header {
    z-index: 1;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.Footer {
    z-index: 1;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

.Home {
    height: 100vh;
    background-color: rgb(132, 160, 197);;
}

.AboutMe {
    height: 100vh;
    width: 100vw;
    background-color: wheat;
}

.Projects {
    height: 100vh;
    background-color: rgb(132, 160, 197);;
}

@media (max-width: 768px) {
    .Projects {
        height: 175vh;
    }
}

.WorkExperience {
    height: 100vh;
    background-color: wheat;
}

.VolunteerExperience {
    height: 100vh;
    background-color: rgb(132, 160, 197);;
}