html {
    background-color: rgb(132, 160, 197);
}

/* .PrivacyPolicy {
    justify-content: center;
    align-items: center;
} */

.PrivacyPolicyTextContainer {
    margin: auto auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 10%;
}

.PrivacyPolicyText {
    font-size: 50;
}

.HeadingContainer {
    justify-content: center;
    align-items: center;
}