.workCardContainer {
    margin: 8px 8px;
    background-color: black;
    padding: 16px;
    border-radius: 15px;
    height: 80%;
    min-height: 400px;
    overflow-y: auto;
}

.companyPositionText {
    font-size: 20px;
    line-height: 10px;
}