.Home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.MiddleRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.AboutMeSection {
  width: 50%;
  height: 100%;
  padding-top: 25%;
}

.HeadingBox {
  font-size: 5vh;
  padding-left: 10%;
  font-weight: 700;
}

.Animated {
  font-size: 3vh;
  min-width: 1%;
  min-height: 5%;
  display: inline-block;
  padding-left: 10%;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 2px;
  animation: blinkBorder .5s infinite;
}

@keyframes blinkBorder {
  from {border-right-color: black}
  to {border-right-color: transparent}
}

.ProfilePicContainer {
  height: 100%;
  padding-left: 10vh;
}

.ProfilePic {
  height: 70vh;
  border-radius: 50%;
  animation: fadeInAnimate 3s 1;
}

@keyframes fadeInAnimate {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (max-width: 768px) {
  .MiddleRow {
    padding-top: 6vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .AboutMeSection {
    width: 100%;
    height: 40%;
    padding-top: 0%;
  }
  
  .HeadingBox {
    font-size: 5vh;
    padding-left: 0%;
    font-weight: 700;
  }

  .Animated {
    font-size: 3vh;
    min-width: 1%;
    min-height: 10%;
  }

  .ProfilePicContainer {
    height: 50%;
    width: 100%;
    padding-left: 20%;
    position: relative;
    top: -90px;
    z-index: 0;
  }
  
  .ProfilePic {
    height: auto;
    width: 80%;
    border-radius: 50%;
  }
}