/* html {
    background-color: rgb(247, 247, 247);
    min-width: 1350px;
    height: 100%;
} */

.Header {
  z-index: 1;
  width: 100%;
  height: 5%;
  position: fixed;
  top: 0px;
}

.Home {
  background: #4C5364;
  height: 100vh;
  width: auto;
}

.HeadingBox {
    display: flex;
    margin: auto auto;
    padding-bottom: 20px;
    width: 70%;
    height: 40px;
    /* background-color: cadetblue; */
    position: relative;
    top: 50px;
    padding-bottom: 80px;
}

.AnimatedCursor {
    font-size: xx-large;
    font-weight: 700;
    color: rgb(206, 206, 206);
    position: relative;
    left: 0%;
    /* width: 50%; */
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 3px;
    animation:
        cursorAnimate .6s step-end infinite;
}

@keyframes cursorAnimate {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.MiddleRow {
  display: flex;
  /* border: blue;
  border-width: 5px;
  border-style: solid; */
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 50%;
}

.ProfilePicContainer {
  display: flex;
  margin: auto auto;
  min-height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.ProfilePic {
  /* width: 35%;
  height: 70%; */
  width: 75%;
  height: 50%;
  border-radius: 50%;
  position: relative;
  /* left: 50%; */
  animation: 
    bringInProfilePic 1s steps(20, end);
}

@keyframes bringInProfilePic {
  0%   { left: 100%}
  50%  { left: 50% }
  100% { left: 0% }
}

.section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
      visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
  }
  .section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

/* .AnimateHeading {
    display: block;
    width: 50%;
    align-self: center;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: black;
    animation:
        blink-caret .75 step-end infinite;
}



.HeadingAnimate {
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: black;
    font-weight: 2000;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    Start point for animation
    --start : 23%;
    animation: 
      typing 10s steps(20, end) infinite,
      blink-caret .75s step-end infinite;
}

  @keyframes typing {
    0%   { width: var(--start) }
    10%  { width: var(--start) }
    20%  { width: var(--start) }
    30%  { width: 40% }
    40%  { width: 50% }
    50%  { width: 60% }
    60%  { width: 70% }
    70%  { width: 100% }
    80%  { width: 100% }
    90% { width: var(--start) }
    100% { width: var(--start) }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  } */