html {
    background-color: lightsteelblue;
}

.Home {

}

.HeadingBox {
    display: flex;
    margin: auto auto;
    padding: 10px;
    width: 50%;
    background-color: cadetblue;
}

.AnimatedCursor {
    display: flex;
    margin: auto auto;
    /* width: 50%; */
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 3px;
    animation:
        cursorAnimate .6s step-end infinite;
}

@keyframes cursorAnimate {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.ProfilePicContainer {
    display: flex;
    margin: auto auto;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.ProfilePic {
    display: flex;
    width: 25%;
    height: 25%;
    border-radius: 50%;
}


.section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
      visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
  }
  .section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

/* .AnimateHeading {
    display: block;
    width: 50%;
    align-self: center;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: black;
    animation:
        blink-caret .75 step-end infinite;
}



.HeadingAnimate {
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: black;
    font-weight: 2000;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    Start point for animation
    --start : 23%;
    animation: 
      typing 10s steps(20, end) infinite,
      blink-caret .75s step-end infinite;
}

  @keyframes typing {
    0%   { width: var(--start) }
    10%  { width: var(--start) }
    20%  { width: var(--start) }
    30%  { width: 40% }
    40%  { width: 50% }
    50%  { width: 60% }
    60%  { width: 70% }
    70%  { width: 100% }
    80%  { width: 100% }
    90% { width: var(--start) }
    100% { width: var(--start) }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  } */